body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6E6FA;
}

.btn{
    color: black;
    font-size: 40px;
    border-radius: 12px;
    height: 94px;
    width: 94px;
    border: none;
}

.para{
    height: 50px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 12px;
    margin: 10px;
    margin-bottom: 0px;
    color: black;
    font-size: 18px;
}

.reset{
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: navajowhite;
    background-color: lightcoral;
    color: black;
}

.btn-box{
    width: max-content;
    display: flex;
    gap: 10px;
    margin: 10px;
    margin-bottom: 0px;
}

.add{
    background-color: lightgreen;
}

.sub{
    background-color: indianred;
}